<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="detailConnectionString"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\detail.mdb" 
         providerName="System.Data.OleDb"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WX_STOREConnectionString"
         connectionString="Data Source=wxstore.db.8112002.hostedresource.com; Initial Catalog=wxstore; User ID=wxstore; Password=Tbit1wog!;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <appSettings>
    <add key="MailFrom"
          value="webmaster@detailwindow.com"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailTo"
          value="detailwc@yahoo.com,jgilmore@detailwindow.com,sheeand@detailwindow.com"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailToWebmaster"
         value="sheeand@hotmail.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmtpServer"
          value="relay-hosting.secureserver.net"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

<system.net>
    <mailSettings>
      <smtp from="webmaster@detailwindow.com" xdt:Transform="Replace">
        <network xdt:Transform="Replace" host="relay-hosting.secureserver.net" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>