<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="detailwindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    <connectionStrings>
        <add name="detailConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\detail.mdb" providerName="System.Data.OleDb" />
        <add name="WX_STOREConnectionString" connectionString="Data Source=ACER\SQLEXPRESS;Initial Catalog=WX_STORE;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
    <add key="ConnectString" value="Provider=Microsoft.Jet.OleDB.4.0;Data Source=|DataDirectory|detail.mdb"/>
    <!-- Also, see mailSettings at end of file. -->
    <add key="MailFrom" value="sheeand@comcast.net"/>
    <add key="MailTo" value="sheeand@hotmail.com"/>
    <add key="MailToWebmaster" value="sheeand@detailwindow.com"/>
    <add key="SmtpServer" value="smtp.comcast.net"/>
  </appSettings>
  <system.web>
    <machineKey validationKey="5364A8605B0268683CAE74E85081B5403DC420A5AFC5B0018F98143885A0FE3E967E55E926C1EEF74B3F6043FF298E3A9055D672CDD19C0A24061726F61DEC94" 
                decryptionKey="5D881C8FCE3F6EE12D0D0228A56B46263F58C86AC6D923A4FA88D10458182F73" 
                validation="SHA1" decryption="AES" />
    
    <trust level="Full" originUrl=""/>
    
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!--
            To disable the custom error page, set the customErrors mode attribute to "Off".
            To enable the custom error page, set the customErrors defaultRedirect attribute to "ErrorPublic".
       -->
    <!--<customErrors defaultRedirect="~/ErrorPublic.aspx"/>-->
      <customErrors mode="Off"/>
      <!-- 
            Set compilation debug="true" to insert debugging symbols into the compiled page. 
            Because this affects performance, set this value to true only during development.
     -->
    <compilation debug="true" targetFramework="4.0">
      <!--<assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DynamicData, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>-->
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>

  <applicationSettings>
    <detailwindow.Properties.Settings>
      <setting name="detailwindow_gov_weather_graphical_ndfdXML" serializeAs="String">
        <value>http://graphical.weather.gov/xml/SOAP_server/ndfdXMLserver.php</value>
      </setting>
      <setting name="detailwindow_com_mytvtestdisc_www_WebService1"
        serializeAs="String">
        <value>http://www.mytvtestdisc.com/Webservice1.asmx</value>
      </setting>
    </detailwindow.Properties.Settings>
  </applicationSettings>

  <system.net>
    <mailSettings>
      <smtp from="sheeand@comcast.net">
        <network host="smtp.comcast.net"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>